body{
    margin:0;
    background:#E8F5E9;
    font-family:"Yu Gothic","Meiryo",sans-serif;
}

.container{
    width:90%;
    max-width:500px;
    margin:40px auto;
    text-align:center;
}

h1{
    color:#2E7D32;
    font-size:42px;
}

.subtitle{
    font-size:22px;
    color:#555;
    margin-bottom:35px;
}

button{

    width:100%;

    padding:18px;

    margin:15px 0;

    font-size:24px;

    border:none;

    border-radius:20px;

    background:#43A047;

    color:white;

    cursor:pointer;

}

button:hover{

    background:#2E7D32;

}
